.title{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-left: 6rem;
    position: relative;
}

.title::after{
    content: '';
    position: absolute;
    height: 0.6rem;
    width: 20rem;
    bottom: -0.5rem;
    left: 0;
    background: rgba(124, 84, 208, 0.92);
}

.photo{
    height: auto;
    width: auto;
    max-height: 70%;
    border-radius: 1rem;
}

.about-section{
    margin-left: 20rem;
}

@media screen and (max-width: 1024px) {
    .title{
        margin-left: 3rem;
        margin-top: 3rem;
    }
    .about-section{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .photo{
        margin: 0;
        margin-bottom: 2rem;
        height: 40%;
    }
}
