.container{
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .container{
        padding-left: 3rem;
    }
}